body{
	padding: 0;
	margin: 0;
}

h2{
	font-family: Calibri, Verdana, sans-serif; 
}

a{
	text-decoration: none;
	color: #191970;
}


.main-menu{
	background-color: #a3c1c7;
	list-style-type: none;
	width: 100%;
	display: table;
	border-radius: 2px;
}

 .main-menu li{
	display: block;
    float: left;
    position: relative;
    list-style-type: none
}

 .main-menu li:hover{
 	background-color: #c7e3ea;

 }

.main-menu li a{
	display: table;
	padding: 0 20px;
	height: 30px;
	text-align: center;
	line-height: 49px;
	color: #fff;
	transition: .5s;


}

.main-menu li a:hover{
	box-shadow: 0 0 5px rgba(0, 0, 0, .3) insert;
}

@media screen and (max-width: 580px){
	.menu li,
	.menu li a{
		width: 100%;
		border: none;
		padding-right: 0;
	} 
}

.main-div{
  padding: 0px;
  padding-left: 30px;
  display: inline-block;
}

.alert-success{
   padding-left: 30px;
}